.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-reverse {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-reverse {
    animation: App-logo-reverse-spin infinite 20s linear;
  }
}

.Sectionone {
  background-color: #131414;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Sectionone:hover {
  background: rgb(243, 238, 238);
}
 
.sectionone-text{
  background-color:  rgb(8, 8, 8);
} 

.sectionone-text:hover{
  background-color: #e9eef0;
}

.Sectiontwo {
  background-color: #1347b1;
  min-height: 50vh;
   display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Sectiontwo:hover {
  background: rgb(216, 203, 15);
}

.sectiontwo-text{
  background-color: #61dafb;
}

.sectiontwo-text:hover{
  background-color: #000c0f;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-reverse-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


  

